<span id="header">
    <span id="hotel-name"></span>
    <ul>
        <a href=""><li>Insert</li></a>
        <a href=""><li>Update</li></a>
        <a href=""><li>Delete</li></a>
        <a href=""><li>See Record</li></a>

    </ul>
</span>